<%- include('partials/_htmlhead'); -%>

<h1><%= title %></h1>

<% if (data) { %>
<p>Data received in last request:</p>
<table>
	<% for (const name in data) { %>
	<tr>
		<th><%= name %>:</th>
		<td><%= data[name] %></td>
		<% if (name === 'imageurl') { %>
		<img src="<%- data[name] %>" alt="uploaded image" />
		<% } %>
	</tr>
	<% } %>
</table>
<% } %>

<form action="/form" method="post" enctype="multipart/form-data">
	<div>
		<label for="name">Nome</label>
		<input type="text" id="name" name="name" value="<%= data.name %>" />
	</div>
	<div>
		<span>
			<input type="checkbox" id="nodejs" name="nodejs" value="yes" />
			<label for="nodejs">Do you like Node.js? </label>
		</span>
	</div>
	<input type="hidden" name="date" value="<%= new Date(); %>" />
	<input type="file" id="image" name="image" accept="image/*" />
	<div>
		<button>Submit</button>
	</div>
</form>

<%- include('partials/_htmlfoot'); -%>
